<div class="masonryBox">
	<div class="masonryImg">
	  <a href="<%= post.link_url %>">
	    <%= image_tag post.image_url %>
	  </a>
	  <div class="photoTitle">
	  	<%= post.name %>
	  </div>
	  <div>
	  	<div class="photoSocial">
	  		n pins
		  </div>
		  <div class="photoSocial">
		  	n likes
		  </div>
		  <div class="photoSocial">
		  	<%= pluralize(post.comments.count, 'comment') %>
		  </div>
		</div>
	</div>
	<% if post.comments.any? %>
		<div class="comments">
			<% for comment in post.comments %>
				<div class="comment">
					<div class="commentAvatar">
						<img src="http://www.gravatar.com/avatar/0?d=mm&s=40" alt="" />
					</div>
				  <div class="commentText">
				  	<%= comment.content %>
			    </div>
			  </div>
			  <hr/>
			 <% end %>
		</div>
	<% end %>
</div>