<header>
  <div class="nav-bar-box">
    <%= link_to "sample app", root_path, id: "logo", :class => "left" %>
    <ul class="nav-bar right">
      <%= nav_link "Home", root_path %>
      <%= nav_link "Help", help_path %>

      <% if signed_in? %>
        <li><%= link_to "Users", users_path %></li>
        <li class="has-flyout">
          <a href="#">Account</a>
          <a href="#" class="flyout-toggle"><span> </span></a>
          <ul class="flyout">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>

    </ul>
  </div>
</header>